body {
margin: 0;
font-family: "Montserrat, sans-serif"
}

header {
position: sticky;
top: 0;
background-color: white;
color: #333;
padding: 10px 0;
text-align: center;
z-index: 1000; /* Ensure the header stays above other content */
}

main {
padding: 20px;
}